<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta. Para completar este proceso, ingresa el siguiente código de seguridad de 6 dígitos en el formulario de restablecimiento de contraseña:</p>
        <br>
        <h3>{{token}}</h3>
        <br>
        <p>Este código de seguridad caducará en {{tokenExp}} minutos, por lo que deberás utilizarlo antes de ese tiempo. Si no has solicitado un restablecimiento de contraseña, por favor ignora este mensaje.</p>
        <p>Si tienes alguna pregunta o necesitas ayuda para restablecer tu contraseña, por favor no dudes en contactarnos.</p>
        <p>Saludos cordiales, equipo de Senderos.</p>
    </body>
</html>